@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../font/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

a {
  text-decoration: none;
  color: #a00;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #ee9ca7;
  overflow: hidden;
}

#progress {
  margin-left:-90px;
  position: absolute;
  left:50%;
  top:254px;
  width:0px;
  height:4px;
  background: #fff;
  border-radius: 2px;
}

#progress-back {
  margin-left:-90px;
  position: absolute;
  left:50%;
  top:254px;
  width:180px;
  height:4px;
  background: rgba(255,255,255, 0.2);
  border-radius: 2px;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

.avatar {
    width: 100px;
    height: 100px;
    background: #fff;
    background-size: cover;
    margin: 30px auto;
    /*border-radius: 14px;*/
    /*box-shadow: 0 0 22px rgba(0,0,0,.3);*/
    border: 4px solid #eee;
    -webkit-animation: showup 2000ms 23s ease-out forwards;
    animation: showup 2000ms 23s ease-out forwards;
    opacity: 0;
    overflow: hidden;
    position: relative;
}

.avatar-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 20s, opacity 2s;
    -webkit-transition: -webkit-transform 20s, opacity 2s;

    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.avatar-inner.bigger {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}

.avatar-inner.fadeOut {
    opacity: 0;
}

.word-sample {
    color: #8b6a60;
    position: absolute;
    left: 50%;
    width: 260px;
    top: 60px;
    margin-left: -130px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 100;
}

.word-sample.bigger {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.word-sample.right {
    transform: translate(400px, 0);
    -webkit-transform: translate(400px, 0);
}

.word-sample.left {
    transform: translate(-400px, 0);
    -webkit-transform: translate(-400px, 0);
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 168px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 6s ease-out forwards;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes showup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes showup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  -webkit-animation: showup 1000ms 7s ease-out forwards;
  animation: showup 1000ms 7s ease-out forwards;
  opacity: 0;
}
.text h1 {
  font-size: 1.4em;
}
