body {
	margin: 0;
	font-family: "Microsoft JhengHei";
}

.bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(./bg.jpg) no-repeat center;
	background-size: cover;
}

.page {
	max-width: 960px;
	margin: 0 auto;
	padding: 30px 100px;
	background: rgba(220,220,220, 0.9);
	box-shadow: 0 0 30px rgba(0,0,0,.5)
}

.p-title {
	font-size: 42px;
	font-weight: bold;
	margin-top: 100px;
	border-bottom: 1px solid #600;
	border-left: 40px solid #600;
	padding: 10px 10px;
	transition: .3s border-left;
	cursor: pointer;
}

.p-title.openable {
	border-left: 10px solid #600;
}

.p-line {
	font-size: 22px;
	line-height: 44px;
	color: #444;
	padding-left: 40px;
}

.p-chapter:first-letter {
	font-size: 46px;
	margin-right: 10px;
	font-weight: bold;
	color: #600;
}

@media screen and (max-width: 800px) {

	.p-line {
		padding-left: 0px;
	}

	.page {
		padding: 30px 30px;
	}
}

@media screen and (max-width: 600px) {
	.p-title {
		font-size: 22px;
	}

	.p-line{
		font-size: 16px;
		line-height: 32px;
	}
	.p-chapter:first-letter {
		font-size: 34px;
		margin-right: 6px;
	}

}

.hide {
	display: none;
}